# ==========================
# Visual Studio
# ==========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# ==========================
# Build output
# ==========================
bin/
obj/

# ==========================
# Rider / JetBrains
# ==========================
*.DotSettings.user
.idea/
*.iml

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Database local files
# ==========================
*.db
*.pgsql

# ==========================
# EF Core Migrations
# ==========================
Migrations/

# ==========================
# Secrets / Env
# ==========================
.env
appsettings.*.json
appsettings.Local.json
secrets.json

# ==========================
# Packages
# ==========================
*.nupkg